<div class="bg-gray-900 font-sans leading-normal tracking-normal">
    <!--Nav-->
    <nav class="flex items-center justify-between flex-wrap bg-black p-3 fixed w-full z-10 border-b">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a routerLink="/"><img
                src="https://banner2.cleanpng.com/20180701/vcb/kisspng-copyright-license-graphic-design-teacher-clip-art-african-american-men-5b38c668970544.4912444815304474646186.jpg"
                class="w-10 h-10 p-1 rounded-full"></a>
        <a class="ml-2 text-xl font-bold" routerLink="/">
            <span class="text-blue-600">Digi</span><span class="text-orange-600"> Trainers</span>
        </a>
        </div>
        <div class="block lg:hidden ">
            <button
                class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white"
                onclick="myFunction()">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full hidden lg:block flex-grow lg:flex lg:items-center lg:w-auto" id="nav">
            <div class="text-sm lg:flex-grow mx-4">
                <!-- <a routerLink="/organizer" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-red-600 mr-4">
                    Dashboard
                </a> -->
            </div>
            <div class="mx-4">
                <a routerLink="/login"
                    class="inline-block text-sm px-4 py-2 leading-none rounded text-white bg-orange-600 hover:bg-orange-700 mt-4 lg:mt-0">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Welcome User
                </a>
            </div>
        </div>
    </nav>


    <div class="flex flex-col md:flex-row">

        <div class="bg-black shadow-lg h-16 fixed bottom-0 mt-12 md:relative md:h-screen w-full md:w-48">

            <div
                class=" pt-4 md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
                <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
                    <li class="mr-3 flex-1">
                        <a routerLink="/teacher/"
                            class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600">
                            <i class="fa fa-tachometer pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                My Profile</span>
                        </a>
                    </li>
                    <li class="mr-3 flex-1">
                        <a routerLink="/teacher/events"
                            class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600">
                            <i class="fa fa-users pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                Events</span>
                        </a>
                    </li>
                 
                    <li class="mr-3 flex-1">
                        <a routerLink="/teacher/doubt"
                            class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600">
                            <i class="fa fa-users pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                Doubts</span>
                        </a> 
                    </li>

                    <li class="mr-3 flex-1">
                        <a routerLink="/teacher/find-student"
                            class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600">
                            <i class="fa fa-users pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                Student details</span>
                        </a>
                    </li>

                    <li class="mr-3 flex-1">
                        <a routerLink="/teacher/edit-profile"
                            class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600">
                            <i class="fa fa-cog pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">
                                Edit Profile</span>
                        </a>
                    </li>
                    <li class="mr-3 flex-1">
                        <a (click)="logOut()"
                            class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-blue-600 cursor-pointer">
                            <i class="fa fa-sign-out pr-0 md:pr-3"></i><span
                                class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block cursor-pointer">Log
                                Out</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div> 

        <div class="main-content flex-1 bg-gray-100 pt-12 md:mt-2 pb-20">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>