<div class="flex flex-wrap text-center w-full mb-3 pt-6">
    <div class="xl:w-1/2 w-full xl:text-left text-center px-8">
        <h1 class="text-2xl font-medium mb-3 text-gray-900">Doubt Section</h1>
    </div>
    <div class="xl:w-1/2 w-full xl:text-right text-center px-8">
        <input
            class="shadow appearance-none border rounded w-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username" type="text" placeholder="Search by Topic" [(ngModel)]="searchText">
    </div>
</div>
<div class="flex flex-col px-2" style="overflow-x: hidden;">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Subject
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Created On
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Desription
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            User Details
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <!-- <ng-container *ngIf="(eventsList | eventSearch:searchText) as result"> -->
                        <ng-container *ngIf="doubtsList">
                        <tr *ngFor="let d of result| paginate: { itemsPerPage: 5, currentPage: p }">
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-900">{{d.subject}}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-900">{{d.createdOn}}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-900">{{d.description}}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-900">{{d.user}}</div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="py-3 text-right pr-8">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>